<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
           version="3.0">
    <welcome-file-list>
        <welcome-file>/jsp/login.jsp</welcome-file>
    </welcome-file-list>
    
    
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>web.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>web.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NotebookServlet</servlet-name>
        <servlet-class>web.servlet.NotebookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NotebookServlet</servlet-name>
        <url-pattern>/NotebookServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NoteServlet</servlet-name>
        <servlet-class>web.servlet.NoteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NoteServlet</servlet-name>
        <url-pattern>/NoteServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditorServlet</servlet-name>
        <servlet-class>web.servlet.EditorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditorServlet</servlet-name>
        <url-pattern>/EditorServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BinServlet</servlet-name>
        <servlet-class>web.servlet.BinServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BinServlet</servlet-name>
        <url-pattern>/BinServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MarkServlet</servlet-name>
        <servlet-class>web.servlet.MarkServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MarkServlet</servlet-name>
        <url-pattern>/MarkServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StarServlet</servlet-name>
        <servlet-class>web.servlet.StarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StarServlet</servlet-name>
        <url-pattern>/StarServlet</url-pattern>
    </servlet-mapping>
</web-app>
