html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body,
html {
	margin: 0;
	padding: 0;
	background-color: white;
	overflow: hidden;
	position: relative;
}

* {
	/*禁止文字被选中*/
	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

ul li {
	list-style: none;
}

input {
	outline: none;
}

ul li:hover {
	cursor: pointer;
}

#BIJI {
	width: 100%;
	height: 150px;
	border-bottom: 1px solid lightgray;
}

.biji {
	width: 100%;
	height: 160px;
}

.biji:hover {
	background-color: #e74c3c;
}

.fenge {
	width: 90%;
	height: 1px;
	position: relative;
	background-color: lightgrey;
	margin-left: 5%;
}

#note {
	color: #878787;
	display: inline-block;
	vertical-align: top;
	font-size: 21px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	position: relative;
	left: 5%;
	top: 20px;
	
}

#top {
	position: relative;
	height: 63px;
	background: white;
	min-width: 956px;
}

#choose {
	width: 210px;
	min-width: 115px;
	height: 760px;
	background-color: white;
	min-width: 114.7px;
	float: left;
	position: relative;
}

#workPlace {
	width: 32.5%;
	float: left;
	height: 760px;
	background-color: white;
	border: 2px solid gainsboro;
	overflow: scroll;
}

#mainPlace {
	width:53%;
	background-color: white;
	height: 760px;
	float: left;
	border: 1px solid black;
	position: fixed;
	right: 0;
}

.fristC {
	line-height: 48px;
}

.vertical-nav {
	z-index: 1;
}

#helloUser {
	width: 200px;
	height: 100%;
}

#helloUser div {
	color: #878787;
	font-size: 25px;
	text-align: center;
	position: relative;
	top: 25%;
}

#share {
	width: 300px;
	height: 63px;
	position: relative;
	top: -63px;
	left: 85%;
}


/* ZYX changed below */

#createNotebookPop {
	width: 300px;
	height: 600px;
	background-color: darkslategray;
	text-align: center;
	/*让div内部文字居中*/
	border-radius: 20px;
	margin: auto;
	position: absolute;
	z-index: 10000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
}

#createNotebookPop>span {
	width: 20px;
	height: 20px;
	background-color: #FFFFFF;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}



#choose h1 {
	margin: 20px;
	color: #878787;
	font-size: 23px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	cursor: default;
}


/* ZYX added */


/* table 样式 */

table {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

table td,
table th {
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 3px 5px;
}

table th {
	border-bottom: 2px solid #ccc;
	text-align: center;
}


/* blockquote 样式 */

blockquote {
	display: block;
	border-left: 8px solid #d0e5f2;
	padding: 5px 10px;
	margin: 10px 0;
	line-height: 1.4;
	font-size: 100%;
	background-color: #f1f1f1;
}


/* code 样式 */

code {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	background-color: #f1f1f1;
	border-radius: 3px;
	padding: 3px 5px;
	margin: 0 3px;
}

pre code {
	display: block;
}


/* ul ol 样式 */

ul,
ol {
	margin: 10px 0 10px 20px;
}


/* WYJ add below */

label {
	display: inline-block;
	width: 5em;
}

.onchoose {
	/*点击效果*/
	color: #E74C3C!important;
	font-size: 28px!important;
}

.show {
	/*控制弹出界面样式*/
	position: absolute;
	border: 1px solid #878787;
	border-left: 0px;
	width: 235%;
	left: -285px;
	top: 0px;
	z-index: 1;
	height: 760px;
	background-color: white;
}


/*both*/

.chatInput1 {
	float: none;
	margin: 0 auto;
	width: 90%;
	margin-top: 35px;
	height: 45px;
	border-radius: 24px;
	min-width: 215px;
	font-size: 20px;
	padding: 5px 5px 5px 15px;
	border: 1px solid #878787;
}

.chatInput2 {
	font-size: 25px;
	min-width: 50px;
	width: 80%;
	text-align: center;
	border: 1px solid #878787;
	height: 34px;
	border-radius: 30px;
	margin: 30px auto 0px;
	color: #878787;
}

.chatInput2:hover {
	cursor: pointer;
	background-color: #e74c3c;
	color: white;
}

.chatInput1:focus {
	cursor: pointer;
	border: 1px solid #e74c3c;
}


/*find*/

#findinput {
	width: 80%;
	border-bottom: 1px solid;
	height: 208px;
	margin: 0px 25px;
	text-align: center;
	padding: 0px 21px;
}

#searchNote {
	color: #606060 !important;
	background-color: white!important;
	float: none;
	margin: 0 auto;
	width: 90%;
	margin-top: 35px;
	height: 100px;
	font-size: 35px;
	border-radius: 30px;
	padding: 5px 5px 5px 15px;
	border: 1px solid #878787;
}


/*star*/

#starul {
	text-align: center;
	height: 569px;
	margin: 20px;
	overflow: scroll;
}

.starli:hover {
	background-color: #e74c3c;
	transition: background-color 0.1s ease-in-out;
	opacity: 0.9;
	color: white;
}

.starli {
	cursor: pointer;
	color: #4a4a4a;
	display: inline-block;
	width: 70%;
	padding-top: 9px;
	padding-bottom: 9px;
	font-size: 20px;
	border: 1px solid #888;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 25px;
	height: 25px;
}

.starName {
	float: left;
}

.starBtn {
	float: right;
	display: none;
}


/*noteb*/

#notebTop {
	position: relative;
	height: 100px;
}

#newNoteb:hover {
	color: #e74c3c;
	cursor: pointer;
}

#newNoteb {
	color: #878787;
	right: 20px;
	position: absolute;
	font-size: 40px;
	top: 14px;
	z-index: 1;
}

#notebTips {
	position: absolute;
	display: none;
	left: 405px;
	top: 76px;
}

#notebTips p {
	background-color: #878787;
	padding: 6px;
	color: #fff;
	border-radius: 4px;
}

#notebSearch {
	border-radius: 2px;
	padding: 10px 40px 9px 8px;
	margin: 0;
	outline: none;
	box-sizing: border-box;
	width: 80%;
	font-family: gotham, helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #606060;
}

.sj {
	width: 0px;
	height: 0px;
	border-bottom: 10px solid #878787;
	border-right: 10px solid transparent;
	border-top: 10px solid transparent;
	border-left: 10px solid transparent;
	margin-top: -20px;
	margin-left: 27px;
}

.notebli {
	box-sizing: border-box;
	height: 62px;
	overflow: hidden;
	position: sticky;
	transition: height 0.2s ease-in-out, border linear 0.2s, background-color 0.1s ease-in-out;
	cursor: pointer;
	outline: none;
	border-bottom: 1px solid #878787;
	line-height: 62px;
	font-size: 20px;
	color: #4a4a4a;
	padding: 0 0 0 15px;
}

.notebli:hover {
	background-color: #e74c3c;
	color: white;
}

#notebul {
	height: 569px;
	margin: 20px;
	overflow: scroll;
}

.notebliBook {
	width: 225px;
	float: left;
	overflow: hidden;
}

.notebliBtn {
	width: 175px;
	float: right;
	text-align: center;
	display: none;
}

.notebli_i {
	padding: 15px;
}

.notebli_i:hover {
	font-size: 27px;
}


/*mark*/

#markTop {
	position: relative;
	height: 100px;
}

.markli {
	float: left;
	overflow: hidden;
	width: 100px;
	line-height: 40px;
	height: 40px;
	padding: 0 10px;
	margin-top: 10px;
	border: 1px solid #888;
	border-radius: 30px;
}

.markli:hover {
	border: 1px solid white;
}

#newMark:hover {
	color: #e74c3c;
	cursor: pointer;
}

#newMark {
	color: #878787;
	right: 20px;
	position: absolute;
	font-size: 40px;
	top: 14px;
	z-index: 1;
}

#markTips {
	position: absolute;
	display: none;
	left: 410px;
	top: 76px;
}

#markTips p {
	background-color: #878787;
	padding: 6px;
	color: #fff;
	border-radius: 4px;
}

#markSearch {
	border-radius: 2px;
	padding: 10px 40px 9px 8px;
	margin: 0;
	outline: none;
	box-sizing: border-box;
	width: 80%;
	font-family: gotham, helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #606060;
}

#markul {
	height: 569px;
	margin: 20px;
	overflow: scroll;
}


/*comment*/

#commenTop {
	position: relative;
	height: 100px;
}

#newComment:hover {
	color: #e74c3c;
	cursor: pointer;
}

#newComment {
	color: #878787;
	right: 20px;
	position: absolute;
	font-size: 40px;
	top: 14px;
	z-index: 1;
}

#commentTips {
	position: absolute;
	display: none;
	left: 405px;
	top: 76px;
}

#commentTips p {
	background-color: #878787;
	padding: 6px;
	color: #fff;
	border-radius: 4px;
}

#commentul {
	height: 520px;
	margin: 20px;
	overflow: scroll;
}

#commentc {
	position: absolute;
	border: 1px solid #e1e1e1;
	width: 235%;
	left: 210px;
	bottom: 5px;
	z-index: 1;
	height: 395px;
	display: none;
	background-color: white;
}

#commentctop {
	height: 41px;
	width: 100%;
}

#commentcmain {
	height: 265px;
	width: 100%;
	border-top: 1px solid #888;
	border-bottom: 1px solid #888;
}

#commentcbottom {
	margin: 16px 12px 12px;
	height: 45px;
	width: 95%;
}

#ctl {
	display: inline-block;
	position: relative;
	vertical-align: top;
	top: 5px;
	margin-left: 10px;
	line-height: 27px;
	color: #4a4a4a;
	font-size: 12px;
	font-weight: 400;
	width: 48px;
	float: left;
}

#cti {
	float: left;
	display: inline-block;
	width: 320px;
	overflow: hidden;
	vertical-align: top;
	white-space: nowrap;
	margin-top: 7px;
}

#cti input {
	font-size: 18px;
	border-radius: 7px;
	border: 1px solid;
	padding-left: 10px;
}

#ctr {
	float: right;
	width: 40px;
	text-align: center;
	height: 40px;
	font-size: 31px;
}

#ctr i:hover {
	cursor: pointer;
	background-color: #e74c3c;
	color: white;
}

#message {
	color: #4a4a4a;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 21px;
	font-weight: 400;
	line-height: 41px;
}

#send {
	width: 100px;
	height: 35px;
	position: relative;
	left: 32px;
	top: -2px;
}

#send:hover {
	background-color: #e74c3c;
	color: white;
	cursor: pointer;
}


/*trash*/

#trashmain {
	position: relative;
	border-bottom: 1px solid #ececec;
	padding: 0 24px;
	width: 90.4%;
	height: 35px;
	margin-top: 32px;
}

#trashul {
	height: 569px;
	margin: 20px;
	overflow: scroll;
}

.trashli {
	border: 3px solid #d9d9d9;
	height: 100px;
	width: 90%;
	font-size: 25px;
	padding: 19px;
	margin-bottom: 5px;
}

.trashName {
	float: left;
}

.trashBtn {
	float: right;
	display: none;
}

.trashli:hover {
	background-color: #e74c3c;
	color: white;
	cursor: pointer;
}
.Num{
	    -webkit-font-smoothing: antialiased;
    font-family: gotham, helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #ababab;
    margin: 10px;
}
#trashSort{
	position: absolute;
    right: 24px;
    top: 0;
}
/*notec*/

#overlay {
	/*遮罩*/
	background: #FFFFFF;
	filter: alpha(opacity=50);
	/* IE的透明度 */
	opacity: 0.5;
	/* 透明度 */
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 100;
	/* 此处的图层要大于页面 */
	display: none;
	_background-color: #a0a0a0;
	/* 解决IE6的不透明问题 */
}

#notec {
	height: 400px;
	width: 400px;
	border: 0px;
	position: fixed;
	margin: 0 auto;
	z-index: 101;
	left: 22%;
	display: none;
	outline: 0;
	vertical-align: baseline;
	width: 650px;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

.notecdiv {
	text-align: center;
	margin: 0 80px 0 80px;
	color: #888;
	font-family: Segoe UI, Arial;
}

.notecdiv p {
	font-family: gotham, helvetica, arial, sans-serif;
	font-size: 22px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#notecdivinput {
	text-align: center;
	outline: none;
	background: none;
	padding: 18px;
	border: none;
	font-size: 32px;
	font-weight: 100;
	line-height: 44px;
	word-break: normal;
	color: #383838;
	margin-bottom: 45px;
	margin-top: 45px;
}

#notecdivinput_n {
	cursor: pointer;
	border-radius: 5px;
	display: inline-block;
	margin: 0 4px;
	padding: 9px 14px;
	min-width: 160px;
	transition: opacity 0.2s ease-in-out;
	color: #606060;
	background-color: #ececec;
	border: 1px solid #d9d9d9;
}

#notecdivinput_n:hover {
	background-color: #D9D9D9;
	border: 1px solid #D9D9D9;
}

#notecdivinput_y:hover {
	background-color: #FF3333;
	border: 1px solid #FF3333;
}

#notecdivinput_y {
	cursor: pointer;
	border-radius: 5px;
	display: inline-block;
	margin: 0 4px;
	padding: 9px 14px;
	min-width: 160px;
	transition: opacity 0.2s ease-in-out;
	color: white;
	background-color: #e74c3c;
	border: 1px solid #e74c3c;
}


/*markc*/

#markc {
	height: 400px;
	width: 400px;
	border: 0px;
	position: fixed;
	margin: 0 auto;
	z-index: 101;
	left: 22%;
	display: none;
	outline: 0;
	vertical-align: baseline;
	width: 650px;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

#markcdivinput {
	text-align: center;
	outline: none;
	background: none;
	padding: 18px;
	border: none;
	font-size: 32px;
	font-weight: 100;
	line-height: 44px;
	word-break: normal;
	color: #383838;
	margin-bottom: 45px;
	margin-top: 45px;
}

#markcdivinput_n {
	cursor: pointer;
	border-radius: 5px;
	display: inline-block;
	margin: 0 4px;
	padding: 9px 14px;
	min-width: 160px;
	transition: opacity 0.2s ease-in-out;
	color: #606060;
	background-color: #ececec;
	border: 1px solid #d9d9d9;
}

#markcdivinput_n:hover {
	background-color: #D9D9D9;
	border: 1px solid #D9D9D9;
}

#markcdivinput_y:hover {
	background-color: #FF3333;
	border: 1px solid #FF3333;
}

#markcdivinput_y {
	cursor: pointer;
	border-radius: 5px;
	display: inline-block;
	margin: 0 4px;
	padding: 9px 14px;
	min-width: 160px;
	transition: opacity 0.2s ease-in-out;
	color: white;
	background-color: #e74c3c;
	border: 1px solid #e74c3c;
}
/* WGY ADD */
 #newNote {
	width: 235%;
	position: relative;
	border: 1px solid #888;
	left: -272px;
	top: -2972.5px;
	z-index: 1;
	height: 735px;
	background-color: white;
}    
 .img1{
	width: 32px;
	height: 32px;
	position: relative;
	float: right;
	top: -15px;
	right: 10px;
	cursor: pointer;
    padding-left: 10px;
} 

.black_overlay {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity=80);
}
.white_content {
	display: none;
	position: absolute;
	top: 20%;
	left: 30%;
	width: 40%;
	height: 50%;
	border: 14px solid #cdcdcd;
	border-radius: 5px;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}
.cut{
	position: absolute;
	right: 2%;
	top: 4%;
}
.img2{
	width: 32px;
	height: 32px;
	position: relative;
	float: left;
	top: 20px;
	cursor: pointer;
    padding-left: 10px;  
} 
#middle{
	width: 250px;
	height: 63px;
	position: relative;
	float: right;
	top: -63px;
	right: 42%;
}

.black_overlay1 {
	display: none;
	position: absolute;
	top: 0%;
	left: -280%;
	width: 650%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity=80);
}
.white_content1 {
	display: none;
	position: absolute;
	top: 250%;
	left: -80%;
	width: 250%;
	height: 600%;
	border: 14px solid #cdcdcd;
	border-radius: 5px;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}
.h1{
    font-family: caecilia, times, serif;
    font-size: 16px;
    font-weight: 400;
    color: #4a4a4a;
	line-height: 20px;
	position: relative;
	left: 5%;
	top: 10%;
}
.p1{
	color: #878787;
	position: relative;
	left: 5%;
	top:30%;
}
#note_below{
	color: #878787;
	position: relative;
	left: 5%;
	top:50%;
}
.biaoti{
	position: relative;
	top: 10%;
	left: -35%;
}
#newNote input {
    background-color: transparent;
    border: 0;
    outline: 0;
    font-size: 1.5em;
    padding: 8px 1px;
    margin-top: 0.1em;
}
#newNote label {
	color: #e3e3e3;
}
 #newNote input {
	border-bottom: 1px solid #e3e3e3;
	color: #e3e3e3;
 }
 #newNote input:focus, .left input:active {
	border-color: #29b2a5;
	color: #29b2a5;
}
#newNote input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px #2C3034 inset;
	-webkit-text-fill-color: #e3e3e3;
}
.delect1{
	text-align: center;
	position: relative;
	top: 20px;
}
.delect p{
	text-align: center;
	font-family: gotham, helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
	letter-spacing: 1px;
	color: #878787;
	position: relative;
	top: 40px;
}
.delect2{
    text-align: center;
	background-color: lightgray;
	width: 200px;
	height: 1px;
	position: relative;
	top: 60px;
	left: 34%;
    
}
.delect h1{
	position: relative;
	text-align: center;
	top: 80px;
	font-size: 32px;
    font-weight: 300;
	line-height: 44px;
	font-family: caecilia, times, serif;
	color: #383838;
}

.delect5{
	width: 400px;
	height: 40px;
}
.delect5 input{
    width: 150px;
	height: 30px;;
	position: relative;
	
	top: 150px;
	text-align: center; 
    left: 42%;
}
.cancel{
	color: #606060; 
    background-color: #ececec;
	border: 1px solid #d9d9d9;
	cursor: pointer;
	border-radius: 5px; 
	display: inline-block; 
}
.confirm{
    color: white; 
    background-color: #2dbe60;
	border: 1px solid #2dbe60;
	cursor: pointer;
    border-radius: 5px;
}
.remind{
	width: 300px;
	height: 30px;
	position: relative;
	padding-top: 20px;
}
.remind input{
	width: 300px;
	height: 30px;
	top: 50px;
	text-align: center; 
	left: 57%;
	color: #2dbe60; 
	background-color: white;
	border: 1px solid #2dbe60;
	cursor: pointer;
	border-radius: 5px;
	position: relative;
	
}
.man{
	position: relative;
	top: 40px;
	left: 80%;
}
#MyDiv4_1 input {
    background-color: transparent;
    border: 0;
    outline: 0;
    font-size: 1.5em;
    padding: 8px 1px;
    margin-top: 0.1em;
}
/* #MyDiv4 label {
	color: #e3e3e3;
} */
 #MyDiv4_1 input {
	border-bottom: 1px solid #e3e3e3;
	color: #e3e3e3;
 }
 #MyDiv4_1 input:focus, .left input:active {
	border-color: #29b2a5;
	color: #29b2a5;
}
#MyDiv4_1 input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px #2C3034 inset;
	-webkit-text-fill-color: #e3e3e3;
}
#MyDiv4_1{
	width: 300px;
	height: 250px;
	position: relative;

}
.people{
	font-size: 20px;
	position: relative;
	top: 72px;
	left: 40%;
}
.confirm2{
	color: white; 
    background-color: #2dbe60;
	border: 1px solid #2dbe60;
	cursor: pointer;
	border-radius: 5px;
	 width: 150px;
	height: 30px;;
	position: relative;
	top: 0px;
	text-align: center; 
    left: 70%;
} 