html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body,
html {
	margin: 0;
	padding: 0;
	background-color: white;
	overflow: hidden;
	position: relative;
}

ul li {
	list-style: none;
}

input {
	outline: none;
}

ul li:hover {
	cursor: pointer;
}

#BIJI {
	width: 100%;
	height: 150px;
	border-bottom: 1px solid lightgray;
}

.biji {
	width: 100%;
	height: 160px;
}

.biji:hover {
	background-color: #e74c3c;
}

.fenge {
	width: 90%;
	height: 1px;
	position: relative;
	background-color: lightgrey;
	margin-left: 5%;
}

#note {
	color: #878787;
	display: inline-block;
	vertical-align: top;
	font-size: 21px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	position: relative;
	left: 5%;
	top: 20%;
}

#top {
	position: relative;
	height: 63px;
	background: white;
	min-width: 956px;
}

#choose {
	width: 210px;
	min-width: 115px;
	height: 760px;
	background-color: white;
	min-width: 114.7px;
	float: left;
	position: relative;
}

#workPlace {
	width: 29.5%;
	float: left;
	height: 760px;
	background-color: white;
	border: 2px solid gainsboro;
	overflow: scroll;
}

#mainPlace {
	width: 49%;
	background-color: white;
	height: 760px;
	float: left;
	border: 1px solid black;
}

.fristC {
	line-height: 48px;
}

.vertical-nav {
	z-index: 1;
}

#helloUser {
	width: 200px;
	height: 100%;
}

#helloUser div {
	color: #878787888;
	font-size: 25px;
	text-align: center;
	position: relative;
	top: 25%;
}

#share {
	width: 300px;
	height: 63px;
	position: relative;
	top: -63px;
	left: 85%;
}


/* ZYX changed below */

#createNotebookPop {
	width: 300px;
	height: 600px;
	background-color: darkslategray;
	text-align: center;
	/*让div内部文字居中*/
	border-radius: 20px;
	margin: auto;
	position: absolute;
	z-index: 10000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
}

#createNotebookPop>span {
	width: 20px;
	height: 20px;
	background-color: #FFFFFF;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

#createNotePop {
	width: 300px;
	height: 600px;
	background-color: darkslategray;
	text-align: center;
	/*让div内部文字居中*/
	border-radius: 20px;
	margin: auto;
	position: absolute;
	z-index: 10000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
}

#createNotePop>span {
	width: 20px;
	height: 20px;
	background-color: #FFFFFF;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

#choose h1 {
	margin: 20px;
	color: #878787;
	font-size: 23px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	cursor: default;
}


/* ZYX added */


/* table 样式 */

table {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

table td,
table th {
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 3px 5px;
}

table th {
	border-bottom: 2px solid #ccc;
	text-align: center;
}


/* blockquote 样式 */

blockquote {
	display: block;
	border-left: 8px solid #d0e5f2;
	padding: 5px 10px;
	margin: 10px 0;
	line-height: 1.4;
	font-size: 100%;
	background-color: #f1f1f1;
}


/* code 样式 */

code {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	background-color: #f1f1f1;
	border-radius: 3px;
	padding: 3px 5px;
	margin: 0 3px;
}

pre code {
	display: block;
}


/* ul ol 样式 */

ul,
ol {
	margin: 10px 0 10px 20px;
}


/* WYJ add below */

.onchoose {
	/*点击效果*/
	color: #E74C3C!important;
	font-size: 28px!important;
}

.show {
	/*控制弹出界面样式*/
	position: absolute;
	border: 1px solid #878787;
	border-left: 0px;
	width: 235%;
	left: -285px;
	top: 0px;
	z-index: 1;
	height: 760px;
	background-color: white;
}


/*both*/

.chatInput1 {
	float: none;
	margin: 0 auto;
	width: 90%;
	margin-top: 35px;
	height: 45px;
	border-radius: 24px;
	min-width: 215px;
	font-size: 20px;
	padding: 5px 5px 5px 15px;
	border: 1px solid #878787;
}

.chatInput2 {
	font-size: 25px;
	min-width: 50px;
	width: 80%;
	text-align: center;
	border: 1px solid #878787;
	height: 34px;
	border-radius: 30px;
	margin: 30px auto 0px;
	color: #878787;
}

.chatInput2:hover {
	cursor: pointer;
	background-color: #e74c3c;
	color: white;
}

.chatInput1:focus {
	cursor: pointer;
	border: 1px solid #e74c3c;
}


/*find*/

#findinput {
	width: 80%;
	border-bottom: 1px solid;
	height: 208px;
	margin: 0px 25px;
	text-align: center;
	padding: 0px 21px;
}

#searchNote {
	color: #606060 !important;
	background-color: white!important;
	float: none;
	margin: 0 auto;
	width: 90%;
	margin-top: 35px;
	height: 100px;
	font-size: 35px;
	border-radius: 30px;
	padding: 5px 5px 5px 15px;
	border: 1px solid #878787;
}


/*noteb*/

#notebTop {
	position: relative;
	height: 100px;
}

#newNoteb:hover {
	color: #e74c3c;
	cursor: pointer;
}

#newNoteb {
	color: #878787;
	right: 20px;
	position: absolute;
	font-size: 40px;
	top: 14px;
	z-index: 1;
}

#notebTips {
	position: absolute;
	display: none;
	left: 405px;
	top: 76px;
}

#notebTips p {
	background-color: #878787;
	padding: 6px;
	color: #fff;
	border-radius: 4px;
}

#notebSearch {
	border-radius: 2px;
	padding: 10px 40px 9px 8px;
	margin: 0;
	outline: none;
	box-sizing: border-box;
	width: 80%;
	font-family: gotham, helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #606060;
}

.sj {
	width: 0px;
	height: 0px;
	border-bottom: 10px solid #878787;
	border-right: 10px solid transparent;
	border-top: 10px solid transparent;
	border-left: 10px solid transparent;
	margin-top: -20px;
	margin-left: 27px;
}

.notebli {
	box-sizing: border-box;
	height: 62px;
	overflow: hidden;
	position: sticky;
	transition: height 0.2s ease-in-out, border linear 0.2s, background-color 0.1s ease-in-out;
	cursor: pointer;
	outline: none;
	border-bottom: 1px solid #878787;
	line-height: 62px;
	font-size: 20px;
	color: #4a4a4a;
	padding: 0 0 0 15px;
}

.notebli:hover {
	background-color: #e74c3c;
	color: white;
}

#notebul {
	    height: 569px;
	margin: 20px;
	overflow: scroll;
}

.notebliBook {
	width: 225px;
	float: left;
	overflow: hidden;
}

.notebliBtn {
	width: 175px;
	float: right;
	text-align: center;
}

.notebli_i {
	padding: 15px;
}

.notebli_i:hover {
	font-size: 27px;
}


/*mark*/
#markTop {
	position: relative;
	height: 100px;
}
.markli{
	    float: left;
    overflow: hidden;
    width: 100px;
    line-height: 40px;
    height: 40px;
    padding: 0 10px;
    margin-top: 10px;
    border: 1px solid #888;
    border-radius: 30px;
}
.markli:hover{
	border: 1px solid white ;
}
#newMark:hover {
	color: #e74c3c;
	cursor: pointer;
}

#newMark {
	color: #878787;
	right: 20px;
	position: absolute;
	font-size: 40px;
	top: 14px;
	z-index: 1;
}

#markTips {
	position: absolute;
	display: none;
	left: 410px;
	top: 76px;
}

#markTips p {
	background-color: #878787;
	padding: 6px;
	color: #fff;
	border-radius: 4px;
}

#markSearch {
	border-radius: 2px;
	padding: 10px 40px 9px 8px;
	margin: 0;
	outline: none;
	box-sizing: border-box;
	width: 80%;
	font-family: gotham, helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #606060;
}
#markul{
	    height: 569px;
		margin: 20px;
	overflow: scroll;
	
}

/*comment*/

#comment ul li {
	padding: 10px;
	border-bottom: 1px solid #878787;
	width: 95%;
}

#chat {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	font-size: 35px;
	color: #878787;
}

#chat ul li:hover {
	cursor: pointer;
	background-color: #e74c3c;
	color: white;
}

.newChat {
	float: right;
	font-size: 22px;
	border: 1px solid;
	border-radius: 8px;
	margin-top: 25px;
	margin-right: 33px;
	padding: 10px;
}

.newChat:hover {
	cursor: pointer;
	background-color: #e74c3c;
	color: white;
}


/*trash*/

.filei {
	margin-right: 10px;
}

.trashBIJI {
	line-height: 50px;
	float: right;
	margin-right: 22px;
}

.trashBIJI:hover {
	cursor: pointer;
}

#trash ul li {
	padding: 15px 20px;
	border-bottom: 1px solid #e0e1e5;
	height: 50px;
	font-size: 25px;
	line-height: 50px;
	width: 91.5%;
}

#trash ul li:hover {
	cursor: default;
	background-color: #e74c3c;
	color: white;
}


/*notec*/

#overlay {
	/*遮罩*/
	background: #FFFFFF;
	filter: alpha(opacity=50);
	/* IE的透明度 */
	opacity: 0.5;
	/* 透明度 */
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 100;
	/* 此处的图层要大于页面 */
	display: none;
	_background-color: #a0a0a0;
	/* 解决IE6的不透明问题 */
}

#notec {
	height: 400px;
	width: 400px;
	border: 0px;
	position: fixed;
	margin: 0 auto;
	z-index: 101;
	left: 22%;
	display: none;
	outline: 0;
	vertical-align: baseline;
	width: 650px;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

.notecdiv {
	text-align: center;
	margin: 0 80px 0 80px;
	color: #888;
	font-family: Segoe UI, Arial;
}

.notecdiv p {
	font-family: gotham, helvetica, arial, sans-serif;
	font-size: 22px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#notecdivinput {
	text-align: center;
	outline: none;
	background: none;
	padding: 18px;
	border: none;
	font-size: 32px;
	font-weight: 100;
	line-height: 44px;
	word-break: normal;
	color: #383838;
	margin-bottom: 45px;
	margin-top: 45px;
}

#notecdivinput_n {
	cursor: pointer;
	border-radius: 5px;
	display: inline-block;
	margin: 0 4px;
	padding: 9px 14px;
	min-width: 160px;
	transition: opacity 0.2s ease-in-out;
	color: #606060;
	background-color: #ececec;
	border: 1px solid #d9d9d9;
}
#notecdivinput_n:hover{
	background-color: #D9D9D9;
		border: 1px solid #D9D9D9;
}
#notecdivinput_y:hover{
	background-color: #FF3333;
	border: 1px solid #FF3333;
}

#notecdivinput_y {
	cursor: pointer;
	border-radius: 5px;
	display: inline-block;
	margin: 0 4px;
	padding: 9px 14px;
	min-width: 160px;
	transition: opacity 0.2s ease-in-out;
	color: white;
	background-color: #e74c3c;
	border: 1px solid #e74c3c;
}
/*markc*/
#markc {
	height: 400px;
	width: 400px;
	border: 0px;
	position: fixed;
	margin: 0 auto;
	z-index: 101;
	left: 22%;
	display: none;
	outline: 0;
	vertical-align: baseline;
	width: 650px;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}
#markcdivinput {
	text-align: center;
	outline: none;
	background: none;
	padding: 18px;
	border: none;
	font-size: 32px;
	font-weight: 100;
	line-height: 44px;
	word-break: normal;
	color: #383838;
	margin-bottom: 45px;
	margin-top: 45px;
}

#markcdivinput_n {
	cursor: pointer;
	border-radius: 5px;
	display: inline-block;
	margin: 0 4px;
	padding: 9px 14px;
	min-width: 160px;
	transition: opacity 0.2s ease-in-out;
	color: #606060;
	background-color: #ececec;
	border: 1px solid #d9d9d9;
}
#markcdivinput_n:hover {
		background-color: #D9D9D9;
		border: 1px solid #D9D9D9;
}
#markcdivinput_y:hover{
	background-color: #FF3333;
	border: 1px solid #FF3333;
} 

#markcdivinput_y {
	cursor: pointer;
	border-radius: 5px;
	display: inline-block;
	margin: 0 4px;
	padding: 9px 14px;
	min-width: 160px;
	transition: opacity 0.2s ease-in-out;
	color: white;
	background-color: #e74c3c;
	border: 1px solid #e74c3c;
}